/* https://learnboost.github.io/stylus/ */

/* Basic variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
lobster-regular = Lobster, cursive

mapimage = url(../images/zilinamap-normal.jpg) no-repeat top center fixed
beericon = url(../images/icons/beer-icon-big.png) no-repeat
coffeeicon = url(../images/icons/coffee-icon-big.png) no-repeat
drinkicon = url(../images/icons/drink-icon-big.png) no-repeat
pointershadow = url(../images/pointer-shadow.png) no-repeat

black = #2d2d2f
cyan = #61e7ff
darkcyan = #05505d
darkblue = #105e6c
gray = #a6a6ad
lightgray = #DFDFE8
red = #9C0C0C;

radius = 35px

noto-regular(size)
	font size Noto Regular, sans-serif
	
noto-bold(size)
	font size Noto Bold, sans-serif

border-radius()
	-webkit-border-radius radius
	-moz-border-radius radius
	border-radius radius

/* Custom code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body
	noto-regular(15px)
	line-height 21px
	color black
	
body a
	color black
	text-decoration none
	&:hover
		color black
	
.hidden
	display none !important
	visibility hidden !important
	opacity 0 !important

.tleft
	text-align left

.tcenter
	text-align center

.tright
	text-align right

.right
	float right

.cyan
	color cyan

.cyan-bg
	background cyan

.centered
	margin 0 auto
	position relative
	display block
	
.button
	noto-bold(15px)
	width 270px
	height 49px
	line-height 49px
	border-bottom 1px solid transparent
	border-radius()

.button.button-cyan
	color darkcyan
	background cyan
	border none

.error-message
	display none
	width 350px
	max-width 90%
	position absolute
	top 1em
	left 50%
	margin-left -175px
	padding 5px
	background white
	color red
	font-size 0.85em
	border 1px solid red
	border-sizing border-box
	z-index 99
	
.close-message
	cursor pointer

.page-wrapper
	overflow hidden

.map-image
	height 70vh
	background mapimage
	background-size cover
		
.pointer
	position absolute
	top -160px
	margin -55px 0 0 -50px
	
.pointer-wrapper
	position relative		
  		
.pointer-icon,
.pointer-shadow
	width 100px
	height 110px
	display block
	position absolute
	z-index 2

.pointer1
	left 50%

.pointer-icon1
	background beericon
	background-size 100px 110px
	
.pointer2
	left 25%	
	
.pointer-icon2
	background coffeeicon
	background-size 100px 110px

.pointer3
	left 75%

.pointer-icon3
	background drinkicon
	background-size 100px 110px

.pointer-shadow
	width 140px
	height 160px
	background pointershadow
	background-size 110px 120px
	position absolute
	z-index 1

.logo
	position absolute
	width 100%
	padding 35px 0 0
	text-align center
	font-weight 700
	color darkblue
	z-index 3
	
.fl
	font-size 1.5em

.intro-text
	height 30vh
	padding 5vh 0 0
	display block
	text-align center
	box-sizing border-box
	
	.button
		margin 0 auto
		
	p
		margin-bottom 1em

#map-canvas
	height 90vh
	
.navigation
	height 10vh
	line-height 10vh
	
	ul
		list-style-type none
		margin 0
		display flex
		justify-content space-between
		
		li
			margin 0
			flex-direction column
			text-transform capitalize
		
		li.selected > *
		
			@media (max-width: 750px)
				color black

.sidebar
	position absolute
	height 90vh
	background #fff
	padding 1em 1.5em
	box-sizing border-box
	transform translate(-100%, 0)
	z-index 5

.sidebar.columns
	position absolute
	
.sidebar-left
	transform translate(-100%, 0)
	
.sidebar-right
	right 0
	padding 0
	margin 0
	transform translate(100%, 0)
	overflow hidden

.sidebar-widget
	position absolute
	right 0
	height 90vh
	width 100%
	padding 1em 1.5em
	box-sizing border-box
	
.widget-single-place
	padding-top 1em
	transform translate(100%, 0)	

.widget-search-places
	transform translate(0)
	
.widget-nav
	margin 0 0 1em
	padding 0 0 1em
	overflow hidden
	
.close-button
	font-size 15px
	
.list-title,
.place-title
	font-size 21px
	text-transform uppercase
	margin 0 0 1em
	
.list-title
	padding-left 15px
	
input.search-input
	text-indent 4px
	margin 0 0 1em
	width 100%
	height 50px
	line-height 50px
	border 1px solid black
	border-radius 35px
	&:focus
		border 1px solid black
	
.places-list
	list-style-type none
	height 70vh
	overflow-y scroll
	margin 0 0 0 15px

.place-list-title
	font-size 1.2em
	margin 0
	cursor pointer
	
.place-list-category
	font-size 0.8em
	margin-bottom 1.5em
	color gray
	
.place-info
	margin 0 0 2em
	
.place-info p
	margin 0
	
.place-gallery
	height 55vh
	overflow-y scroll

.place-gallery ul
	list-style-type none
	
.place-gallery ul img
	width 100%
	max-width 100%
	
.marker-title
	noto-bold(1.5em)
	margin 0

.marker-description
	noto-regular(1em)
	margin 0

/* Google maps fix
------------------------------------ */

/* Hide map reference */
a[href^="http://maps.google.com/maps"]
a[href^="https://maps.google.com/maps"]
.gmnoprint
.gmnoprint gm-style-cc
.gm-style-cc
	display none !important

.gmnoprint div
	background none !important
	
/* Style info window */
.gm-style-iwdddd
	width 270px !important
	top 0 !important
	left 0 !important
	border-radius 35px


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}
	

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}